@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

:root {
    --main-text: #6F7CB2;
    --title: #091133;
    --btn-color: #111B47;
    --main-text-header:#505F98;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--main-text)
}

h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    color: var(--title);
    margin-bottom: 16px;
}

h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--title);
    padding: 14px 0px 6px;
}


.btn-small,.btn-large{
    position: relative;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    background: var(--btn-color);
    border-radius: 2px;
    padding: 4px 0;
    max-width: 160px;
    width: 100%;
    height: 26px;
    transition: all 0.3s ease-out;
    z-index: 1;
}

.btn-large {
    border: 2px solid var(--title);
    max-width: 190px;
    height: 36px;
}

.header {
    position: relative;
    background-image: url(./../img/hero-shadow.png);
    background-size: 1490px 1161px;
    background-repeat: no-repeat;
    background-position-x: 635px;
    background-position-y: -49px;
    height: 1112px;

}

.container {
    margin: 0 auto;
    padding: 0 165px;
    max-width: 1440px;
}

/* Header */

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.nav-list {
    display: flex;
    gap: 60px;
    line-height: 24px;
}

.nav-list a {
    color: var(--main-text-header);
}

.nav-list a:hover {
    color: var(--title);
    text-decoration: underline;
}

.logo {
    font-weight: 900;
    font-size: 26px;
    line-height: 38px;
    color: #37447E;
    z-index: 1;
}

.btn-header-row {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #FFFFFF;

}

.btn-small:hover, .btn-large:hover {
    top: 1px;
}

.hedaer-content {
    padding-top: 243px;
    max-width: 540px;
}

.header-title {
    font-weight: 500;
    font-size: 50px;
    line-height: 66px;
    letter-spacing: 1px;
    color: var(--title);
    margin-bottom: 20px;   
    z-index: 2;
}

.header-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #505F98;
    margin-bottom: 70px;
}

.header-text span {
    display: inline-block;
    margin-top: 15px;
}

.btn-header-1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.btn-white {
    border: 2px solid #091133;
    border-radius: 2px;
    background-color: transparent;
    margin-left: 30px;  

}

.btn-header-2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--title);
}

.header-img {
    position: absolute;
    display: block;
    top: 185px;
    right: 0;
} 

/* Main */

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-top: 109px;
}

.main-text {
    max-width: 540px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6F7CB2;
}

.main-icon-holder {
    padding-top: 80px;
    display: flex;
    gap: 30px;
}

.main-icon-holder span {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #5D6970;
}

/* Section */

.section-1, .section-2, .section-3 {
    display: flex;
    justify-content: space-between;
    gap: 155px;
    padding: 125px 0;
}

.img-area {
    /* flex-basis: 80%; */
    flex-shrink: 0;
    width: 540px;
}

.content-area {
    padding: 44px 0;
}

.btn-section {
    padding: 4px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
}

.btn-purchase {
    align-items: center;
    margin-top: 40px;
    height: 32px;
}

/* Price-section */

.price-section {
    background-image: url(./../img/price-decor.png);
    background-size: 2546px 938px;
}

.price-content {
    padding: 237px 0px 172px;
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
}

.price {
    margin-top: 36px;
    font-size: 50px;
    line-height: 66px;
    letter-spacing: 1px;
    color: #222F65;
}

.price-text {
    color: #37447E;
    margin-bottom: 60px;
}

.text-above-btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #5D6970;
}

.btn-price {
    align-items: center;
    height: 32px;
    max-width: 190px;
} 

/* Footer */

.footer {
    background-color: #E7ECFF;
}

.footer-firstline {
    padding-top: 65px;
    padding-bottom: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CDD1D4;
}

.copyright {
    color: #939EA4;
}

.btn-footer {
    align-items: center;
    height: 32px;
    max-width: 109px;
    font-size: 1px;
    line-height: 18px;
}

.btn-footer-text {
    padding: 4px 0;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.footer-secondline {
    padding-top: 20px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.footer-link {
    color:#929ECC;
}

.nav-social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    max-width: 16px;
}

